<mat-card>
    <form #registerForm="ngForm" (ngSubmit)="register()">
      <div class="example-container">
        <mat-form-field>
          <input matInput type="username" id="inputUsername" required name="username" [(ngModel)]="model.username" placeholder="Username">
          <mat-icon matSuffix>person</mat-icon>
          <mat-hint>Hint</mat-hint>
        </mat-form-field>
      
        <mat-form-field>
          <input matInput type="password" id="inputPassword" required name="password" [(ngModel)]="model.password" placeholder="Password">
          <mat-icon matSuffix>lock</mat-icon>
          <mat-hint>Minimum 4 characters</mat-hint>
        </mat-form-field>
      
        <mat-form-field>
          <mat-select id="favoriteValue" placeholder="Select">
            <mat-option *ngFor="let value of valuesFromHome" [value]="value">{{ value.name }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    
      <div class="form-group text-center">  
        <button type="submit" mat-raised-button color="primary">Register</button>
        <button type="button" mat-raised-button (click)="cancel()" style="float: right">Cancel</button>
      </div>
    </form>
</mat-card>