<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-button [routerLink]="['home']"><mat-icon>home</mat-icon> CarLeasing</button>
    <button mat-button [routerLink]="['users']" routerLinkActive="mat-accent">Users</button>
    <button mat-button [routerLink]="['cars']" routerLinkActive="mat-accent">Cars</button>
    <span class="example-spacer"></span>
    <div *ngIf="loggedIn()">
      <span>Welcome {{authService.decodedToken?.unique_name | titlecase}}</span>
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>
          <mat-icon>person_pin</mat-icon>
          <span>Profile</span>
        </button>
        <button mat-menu-item (click)="logout()">
          <mat-icon>exit_to_app</mat-icon>
          <span class="nav-link">Logout</span>
        </button>
      </mat-menu>
    </div>
    <form *ngIf="!loggedIn()" #loginForm="ngForm" (ngSubmit)="login()">
      <mat-form-field class="font-14">
        <input matInput placeholder="Username" type="text" name="username" required [(ngModel)]="model.username">
      </mat-form-field>
      <mat-form-field class="font-14">
        <input matInput placeholder="Password" type="password" name="password" required [(ngModel)]="model.password">
      </mat-form-field>
      <button mat-button [disabled]="!loginForm.valid" type="submit">Login</button>
    </form>
  </mat-toolbar-row>
</mat-toolbar>
